script(type='text/javascript')
 var enterRoom = function(roomName, roomPublish, roompw){
    if(roomPublish==='true') {
       location.href = '/room/'+roomName;
    }
    else if(roomPublish==='false'){
      var t = '#pwDiv'+roomName;
      alert(t);
      $(t).slideToggle("slow");
      $(this).toggleClass("active");
    }
 };
 var showRoom =function(roomName){
    alert(roomName);
 };
 var setPw = function(name){
    var t = '#pw'+name;
    $(t).val('');
 };
 var okay = function(name, roompw) {
    var t = '#pw'+name;
    var pw = $(t).val();
    alert(pw);
    if(roompw === pw) {
       location.href = '/room/'+name;
    }
    else if(roompw !== pw) {
       alert('비밀 번호가 다릅니다.');
    } 
 };
#g_box_wrapper
 #g_box
  #sh_main_1
   img(id='LOGO', style='float:left',src='/images/로고.png')
   img(style='margin-left:200px; float:left', src='/images/Text_Webmaster.jpg')
   #top_1
     #top_1_1
  #sh_main_2
  #sh_main_3
   #i_mian_2_1(style='margin-left:40px; height:70px; width: 800px;')
     img(class='menuBt',src='images/Mstreet_Text.png', id='info', style='width:150px; height:60px;')
     img(class='menuBt',src='images/Button_Home_Black.jpg', id='home', value='Home', style='width:80px; height:40px; margin-left:180px;')
     img(class='menuBt',src='images/Button_Mstreet_Black.jpg', id='mStreet', value='mStreet', style='width:80px; margin-left:10px; height:40px;')
     img(class='menuBt',src='images/Button_Cstreet_Black.jpg', id='cStreet', value='cStreet', style='width:80px; margin-left:10px; height:40px;')
     img(class='menuBt',src='images/Button_Sstreet_Black.jpg', id='sStreet', value='sStreet', style='width:80px; margin-left:10px; height:40px;')
     img(class='menuBt',src='images/Button_Gstreet_Black.jpg', id='gStreet', value='gStreet', style='width:80px; margin-left:10px; height:40px;')
 #g_box2
   #g_box2_1
   #g_box2_2
      #login_join
        input(type='button', id='createIdDivBt', value='계정 만들기', class='faceBt', style='margin-left:20px; margin-top:20px; width:200px; height:30px;')
        #createIdDiv_1(style='margin-top:5px; display:none; ')
           input(type='text', value='별명 명', class='eTxt', id='nickName', style='margin-left:20px; margin-top:10px;')
           input(type='password', value=']3ㅕ]', class='eTxt', id='pw', style='margin-left:20px; margin-top:5px;')
           input(type='password', value=']3ㅕ]', class='eTxt', id='rePw', style='margin-left:20px; margin-top:5px;')
           input(type='button', class='faceBt', value='확인', id='createId', style='margin-left: 10px;')
        input(type='button', id='loginDivBt', value='게임 접속', class='faceBt', style='margin-left:20px; margin-top:10px; width:200px; height:30px;')
        #loginDiv(style='display:none;')
           form(action='/waitingRoom', method='POST')
              label(for='inputNickName') 별명
              input(type='text', value='별명', class='eTxt', name='inputNickName', id='inputNickName', style='margin-left:20px; margin-top:10px;')
              label(for='inputPw') 비번
              input(type='password', value=']3ㅕ]', class='eTxt', name='inputPw', id='inputPw', style='margin-left:20px; margin-top:5px;')    
              input(type='submit', class='faceBt', value='확인',  style='margin-left:10px;')
script(type='text/javascript')
 $(document).ready(function() {
    var myName = '';
    var roomPublish =true;
    var room = io.connect('/room');
  
    $('#createRoomBt').click(function(e) {
       $('#dialog').slideToggle("slow");
       $(this).toggleClass("active"); return false;
    });
    $('#createIdDivBt').click(function(e) {
       $('#createIdDiv_1').slideToggle("slow");
       $(this).toggleClass("active"); return false;
    });
    $('#loginDivBt').click(function(e) {
       $('#loginDiv').slideToggle("slow");
       $(this).toggleClass("active"); return false;
    });

    room.on('memberJoined', function(data) {
       alert(data.nickName+'계정이 생성되었습니다.');
       $('#createIdDiv_1').slideToggle("slow");
       $(this).toggleClass("active"); return false;
    });
    room.on('memberJoined-fail', function() {
       alert('이미 있는 계정입니다.');
    });
    $('#nickName').click(function(e) {
       $('#nickName').val('');
    });
    $('#inputNickName').click(function(e) {
       $('#inputNickName').val('');
    });
    $('#message').click(function(e) {
       $('#message').val('');
    });
 });