#i_main_1
   img(id='LOGO', style='margin-left:30px; margin-top:10px; float:left',src='images/logo.jpg', title='로고다시') 
   #top_1
     #top_1_1
       <fb:profile-pic uid="loggedinuser" size="square"></fb:profile-pic>
       <fb:name uid="loggedinuser" use-you="no"></fb:name>
     #top_1_2
       <fb:login-button autologoutlink="true"></fb:login-button><p>
       <button class="menuBt2" onclick="dial()" style='width:80px; height:30px;'>글쓰기</button>
    
#i_main_2
#i_main_3
  #i_mian_2_1(style='margin-left:140px; height:70px; width: 1250px;  margin-left:50px;')
     img(class='menuBt',src='images/Text_main.jpg', id='info', style='width:150px; height:60px;')
     img(class='menuBt',src='images/Button_Home_Black.jpg', id='home', value='Home', style='width:150px; height:50px; margin-left:280px;')
     img(class='menuBt',src='images/Button_Mstreet_Black.jpg', id='mStreet', value='mStreet', style='width:150px; margin-left:10px; height:50px;')
     img(class='menuBt',src='images/Button_Cstreet_Black.jpg', id='cStreet', value='cStreet', style='width:150px; margin-left:10px; height:50px;')
     img(class='menuBt',src='images/Button_Sstreet_Black.jpg', id='sStreet', value='sStreet', style='width:150px; margin-left:10px; height:50px;')
     img(class='menuBt',src='images/Button_Gstreet_Black.jpg', id='gStreet', value='gStreet', style='width:150px; margin-left:10px; height:50px;')
#i_main_4
#i_main_5
     input(type='text', class='txtbox', id='search', value='검색어를 입력하세요', style='float:left; margin-top:30px; margin-left:370px;')
     img(src='images/Button_Search.jpg', id='shBt', value='검색', style='float:left; width:60px; margin-top:30px; height:30px; margin-left:20px; margin-right:3px;')
     script(type='text/javascript', src="http://widgetprovider.daum.net/view?url=http://widgetcfs1.daum.net/xml/5/widget/2008/09/23/10/23/48d844f73a4ab.xml&up_setLocal=108&&width=160&height=70&widgetId=119&scrap=1")
#i_main_6
   #i_main_6_1(style='margin-left:200px;')
      img(src='images/Text_Topnew.jpg', style='width:320px; height:50px;')
   #i_main_6_2(style='margin-left:30px;')
      img(src='images/Text_Sports.jpg', style='width:320px; height:50px;')
   #i_main_6_3(style='margin-left:30px;')
       img(class='menuBt',src='images/Button_Drama_Black.jpg', value='드라마', id='drama', style='width:90px; height:25px; margin-left:10px;')
       img(class='menuBt',src='images/Button_Movie_Black.jpg', value='영화', id='movie', style='width:90px; height:25px; margin-left:10px;')
       img(class='menuBt',src='images/Button_People_Black.jpg', value='인물', id='man', style='width:90px; height:25px; margin-left:10px;')
       img(class='menuBt',src='images/Button_Performance_Black.jpg', value='공연', id='perfomance', style='width:90px; height:25px; margin-left:10px;')
       img(class='menuBt',src='images/Button_Rec_Black.jpg', value='오락', id='tvshow', style='width:90px; height:25px; margin-left:10px;')
       img(class='menuBt',src='images/Button_Books_Black.jpg', value='도서', id='book', style='width:90px; height:25px; margin-left:10px;')
#i_main_7  
    #i_main_7_1(style='margin-left:200px;')
       script(type='text/javascript')
        var socialfeed1 = new gfeedfetcher("example1", "example1class", "_new")
        socialfeed1.addFeed("동아", "http://news.naver.com/rss/rss_presscenter.nhn?office_id=020") 
        socialfeed1.addFeed("조선", "http://news.naver.com/rss/rss_presscenter.nhn?office_id=023") 
        socialfeed1.addFeed("중앙", "http://news.naver.com/rss/rss_presscenter.nhn?office_id=025") 
        socialfeed1.displayoptions("label datetime snippet")
        socialfeed1.setentrycontainer("div") 
        socialfeed1.filterfeed(12, "label")
        socialfeed1.init()
       input(type='button',class='menuBt2', id='refresh1', value='톱 뉴스 새로고침 이미지', style='width:166px; height:20px') 
    #i_main_7_2(style='margin-left:30px;')
       script(type='text/javascript')
        var socialfeed2 = new gfeedfetcher("example2", "example2class", "_new")
        socialfeed2.addFeed("서울", "http://news.naver.com/rss/rss_presscenter.nhn?office_id=073") 
        socialfeed2.addFeed("조선", "http://news.naver.com/rss/rss_presscenter.nhn?office_id=076") 
        socialfeed2.addFeed("일간", "http://news.naver.com/rss/rss_presscenter.nhn?office_id=241") 
        socialfeed2.displayoptions("label datetime snippet")
        socialfeed2.setentrycontainer("div") 
        socialfeed2.filterfeed(12, "label") 
        socialfeed2.init()
       input(type='button',class='menuBt2', id='refresh2', value='스포츠/연예 새로고침 이미지', style='width:166px; height:20px') 
    #i_main_7_3(style='margin-left:30px;')
      #left_3(style='margin-top:30px; border:0px solid #f5f5f5; background-color: #f5f5f5')
      #left_5(style='margin-left:200px;')
ul#ticker01(style='width:1350px;')
   li<span>소속</span><a>상명대학교 디지털 미디어 전공</a></li>
   li<span>팀</span><a>VERITATS</a></li>
   li<span>street</span><a>너와 내가 있는 이곳은 Street!</a></li>
   
script(type='text/javascript', src='http://www.google.com/jsapi?key=ABQIAAAAdV0OihhLfo4ru8N1BXzlWxSJ87f2VNqmObhB7kj4DJwDOGkiiBR3Nh79Pxxmk0DgEb3TTwZHI-Fp1g')
script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.0.min.js')
script(type='text/javascript', src='/javascripts/jquery-ui-1.8.18.custom.min.js')
script(type='text/javascript', src='/javascripts/jquery.li-scroller.1.0.js')

script(type='text/javascript') 
  $(document).ready(function() {
   $('#home').attr('src','images/Button_Home_Orange.jpg');

   var room = io.connect('/room');
   $(function () {
     $("ul#ticker01").liScroll();
   });

  room.on('connect', function() {  
     room.emit('drama', {nickName:'text'}); 
  });
  room.on('dramaed', function(data){
     var output = '';
     output +="<a>1. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R1").find("K").text()+"'>" + $(data.xData).find("R1").find("K").text() + "</a><br />";
     output +="<a>2. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R2").find("K").text()+"'>" + $(data.xData).find("R2").find("K").text() + "</a><br />";
     output +="<a>3. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R3").find("K").text()+"'>" + $(data.xData).find("R3").find("K").text() + "</a><br />";
     output +="<a>4. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R4").find("K").text()+"'>" + $(data.xData).find("R4").find("K").text() + "</a><br />";
     output +="<a>5. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R5").find("K").text()+"'>" + $(data.xData).find("R5").find("K").text() + "</a><br />";
     output +="<a>6. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R6").find("K").text()+"'>" + $(data.xData).find("R6").find("K").text() + "</a><br />";
     output +="<a>7. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R7").find("K").text()+"'>" + $(data.xData).find("R7").find("K").text() + "</a><br />";
     output +="<a>8. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R8").find("K").text()+"'>" + $(data.xData).find("R8").find("K").text() + "</a><br />";
     output +="<a>9. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R9").find("K").text()+"'>" + $(data.xData).find("R9").find("K").text() + "</a><br />";
     output +="<a>10. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R10").find("K").text()+"'>" + $(data.xData).find("R10").find("K").text() + "</a><br />";
    
     $('#drama').css('background','#09C');
     $('#movie').css('background','#ff5c00');
     $('#man').css('background','#ff5c00');
     $('#perfomance').css('background','#ff5c00');
     $('#tvshow').css('background','#ff5c00');
     $('#book').css('background','#ff5c00');

     $('#left_3').html(output);
     getTime();
  });

  $('#drama').click(function(e) { 
     room.emit('drama', {nickName:'text'});  
  });

  $('#movie').click(function(e) { 
     room.emit('movie', {nickName:'text'});  
  });
  room.on('movied', function(data){
     var output = '';
     output +="<a>1. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R1").find("K").text()+"'>" + $(data.xData).find("R1").find("K").text() + "</a><br />";
     output +="<a>2. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R2").find("K").text()+"'>" + $(data.xData).find("R2").find("K").text() + "</a><br />";
     output +="<a>3. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R3").find("K").text()+"'>" + $(data.xData).find("R3").find("K").text() + "</a><br />";
     output +="<a>4. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R4").find("K").text()+"'>" + $(data.xData).find("R4").find("K").text() + "</a><br />";
     output +="<a>5. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R5").find("K").text()+"'>" + $(data.xData).find("R5").find("K").text() + "</a><br />";
     output +="<a>6. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R6").find("K").text()+"'>" + $(data.xData).find("R6").find("K").text() + "</a><br />";
     output +="<a>7. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R7").find("K").text()+"'>" + $(data.xData).find("R7").find("K").text() + "</a><br />";
     output +="<a>8. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R8").find("K").text()+"'>" + $(data.xData).find("R8").find("K").text() + "</a><br />";
     output +="<a>9. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R9").find("K").text()+"'>" + $(data.xData).find("R9").find("K").text() + "</a><br />";
     output +="<a>10. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R10").find("K").text()+"'>" + $(data.xData).find("R10").find("K").text() + "</a><br />";

     $('#drama').css('background','#ff5c00');
     $('#movie').css('background','#09C');
     $('#man').css('background','#ff5c00');
     $('#perfomance').css('background','#ff5c00');
     $('#tvshow').css('background','#ff5c00');
     $('#book').css('background','#ff5c00');

     $('#left_3').html(output);
     getTime();
  });

  $('#man').click(function(e) { 
     room.emit('man', {nickName:'text'});  
  });
  room.on('maned', function(data){
     var output = '';
     output +="<a>1. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R1").find("K").text()+"'>" + $(data.xData).find("R1").find("K").text() + "</a><br />";
     output +="<a>2. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R2").find("K").text()+"'>" + $(data.xData).find("R2").find("K").text() + "</a><br />";
     output +="<a>3. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R3").find("K").text()+"'>" + $(data.xData).find("R3").find("K").text() + "</a><br />";
     output +="<a>4. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R4").find("K").text()+"'>" + $(data.xData).find("R4").find("K").text() + "</a><br />";
     output +="<a>5. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R5").find("K").text()+"'>" + $(data.xData).find("R5").find("K").text() + "</a><br />";
     output +="<a>6. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R6").find("K").text()+"'>" + $(data.xData).find("R6").find("K").text() + "</a><br />";
     output +="<a>7. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R7").find("K").text()+"'>" + $(data.xData).find("R7").find("K").text() + "</a><br />";
     output +="<a>8. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R8").find("K").text()+"'>" + $(data.xData).find("R8").find("K").text() + "</a><br />";
     output +="<a>9. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R9").find("K").text()+"'>" + $(data.xData).find("R9").find("K").text() + "</a><br />";
     output +="<a>10. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R10").find("K").text()+"'>" + $(data.xData).find("R10").find("K").text() + "</a><br />";

     $('#drama').css('background','#ff5c00');
     $('#movie').css('background','#ff5c00');
     $('#man').css('background','#09C');
     $('#perfomance').css('background','#ff5c00');
     $('#tvshow').css('background','#ff5c00');
     $('#book').css('background','#ff5c00');

     $('#left_3').html(output);
     getTime();
  });

  $('#perfomance').click(function(e) { 
     room.emit('perfomance', {nickName:'text'});  
  });
  room.on('perfomanced', function(data){
     var output = '';
     output +="<a>1. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R1").find("K").text()+"'>" + $(data.xData).find("R1").find("K").text() + "</a><br />";
     output +="<a>2. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R2").find("K").text()+"'>" + $(data.xData).find("R2").find("K").text() + "</a><br />";
     output +="<a>3. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R3").find("K").text()+"'>" + $(data.xData).find("R3").find("K").text() + "</a><br />";
     output +="<a>4. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R4").find("K").text()+"'>" + $(data.xData).find("R4").find("K").text() + "</a><br />";
     output +="<a>5. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R5").find("K").text()+"'>" + $(data.xData).find("R5").find("K").text() + "</a><br />";
     output +="<a>6. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R6").find("K").text()+"'>" + $(data.xData).find("R6").find("K").text() + "</a><br />";
     output +="<a>7. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R7").find("K").text()+"'>" + $(data.xData).find("R7").find("K").text() + "</a><br />";
     output +="<a>8. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R8").find("K").text()+"'>" + $(data.xData).find("R8").find("K").text() + "</a><br />";
     output +="<a>9. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R9").find("K").text()+"'>" + $(data.xData).find("R9").find("K").text() + "</a><br />";
     output +="<a>10. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R10").find("K").text()+"'>" + $(data.xData).find("R10").find("K").text() + "</a><br />";

     $('#drama').css('background','#ff5c00');
     $('#movie').css('background','#ff5c00');
     $('#man').css('background','#ff5c00');
     $('#perfomance').css('background','#09C');
     $('#tvshow').css('background','#ff5c00');
     $('#book').css('background','#ff5c00');

     $('#left_3').html(output);
     getTime();
  });

  $('#tvshow').click(function(e) { 
     room.emit('tvshow', {nickName:'text'});  
  });
  room.on('tvshowed', function(data){
     var output = '';
     output +="<a>1. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R1").find("K").text()+"'>" + $(data.xData).find("R1").find("K").text() + "</a><br />";
     output +="<a>2. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R2").find("K").text()+"'>" + $(data.xData).find("R2").find("K").text() + "</a><br />";
     output +="<a>3. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R3").find("K").text()+"'>" + $(data.xData).find("R3").find("K").text() + "</a><br />";
     output +="<a>4. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R4").find("K").text()+"'>" + $(data.xData).find("R4").find("K").text() + "</a><br />";
     output +="<a>5. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R5").find("K").text()+"'>" + $(data.xData).find("R5").find("K").text() + "</a><br />";
     output +="<a>6. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R6").find("K").text()+"'>" + $(data.xData).find("R6").find("K").text() + "</a><br />";
     output +="<a>7. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R7").find("K").text()+"'>" + $(data.xData).find("R7").find("K").text() + "</a><br />";
     output +="<a>8. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R8").find("K").text()+"'>" + $(data.xData).find("R8").find("K").text() + "</a><br />";
     output +="<a>9. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R9").find("K").text()+"'>" + $(data.xData).find("R9").find("K").text() + "</a><br />";
     output +="<a>10. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R10").find("K").text()+"'>" + $(data.xData).find("R10").find("K").text() + "</a><br />";

     $('#drama').css('background','#ff5c00');
     $('#movie').css('background','#ff5c00');
     $('#man').css('background','#ff5c00');
     $('#perfomance').css('background','#ff5c00');
     $('#tvshow').css('background','#09C');
     $('#book').css('background','#ff5c00');

     $('#left_3').html(output);
     getTime();
  });
  $('#book').click(function(e) { 
     room.emit('book', {nickName:'text'});  
  });

  room.on('booked', function(data){
     var output = '';
     output +="<a>1. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R1").find("K").text()+"'>" + $(data.xData).find("R1").find("K").text() + "</a><br />";
     output +="<a>2. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R2").find("K").text()+"'>" + $(data.xData).find("R2").find("K").text() + "</a><br />";
     output +="<a>3. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R3").find("K").text()+"'>" + $(data.xData).find("R3").find("K").text() + "</a><br />";
     output +="<a>4. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R4").find("K").text()+"'>" + $(data.xData).find("R4").find("K").text() + "</a><br />";
     output +="<a>5. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R5").find("K").text()+"'>" + $(data.xData).find("R5").find("K").text() + "</a><br />";
     output +="<a>6. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R6").find("K").text()+"'>" + $(data.xData).find("R6").find("K").text() + "</a><br />";
     output +="<a>7. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R7").find("K").text()+"'>" + $(data.xData).find("R7").find("K").text() + "</a><br />";
     output +="<a>8. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R8").find("K").text()+"'>" + $(data.xData).find("R8").find("K").text() + "</a><br />";
     output +="<a>9. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R9").find("K").text()+"'>" + $(data.xData).find("R9").find("K").text() + "</a><br />";
     output +="<a>10. "+"<a href ='http://search.daum.net/search?w=tot&t__nil_searchbox=btn&DA=YZRR&sug=&q="+$(data.xData).find("R10").find("K").text()+"'>" + $(data.xData).find("R10").find("K").text() + "</a><br />";

     $('#drama').css('background','#ff5c00');
     $('#movie').css('background','#ff5c00');
     $('#man').css('background','#ff5c00');
     $('#perfomance').css('background','#ff5c00');
     $('#tvshow').css('background','#ff5c00');
     $('#book').css('background','#09C');
   
     $('#left_3').html(output);
     getTime();
  });
  $('#mStreet').click(function(e) {
     location.href = '/mStreet';
  });
  $('#gStreet').click(function(e) {
      $('#dialog').dialog();
  });
  $('#sStreet').click(function(e) { 
     location.href = '/sStreet';
  });
  $('#cStreet').click(function(e) { 
     location.href = '/cStreet';
  });
  $('#LOGO').click(function(e) {
     location.href = '/';
  });
  $('#home').click(function(e) {
     location.href = '/';
  });
  $('#refresh1').click(function(e) {
     socialfeed1.init();
  });
  $('#refresh2').click(function(e) {
     socialfeed2.init();
  });
  $('#join').click(function(e) {
     var output ='';
     output+="<form name='form2' method='POST'>";
     output+=" <lable for ='nickname1'> 아이디: ";
     output+=" <input type='text' name='nickname1' id='nickname1'>";
     output+=" <P>";
     output+=" <lable for ='password1'> 비번: ";
     output+=" <input type='password' name='password1' id='password1'>";
     output+=" <P>";
     output+=" <lable for ='repassword1'>비번 확인: ";
     output+=" <input type='password' name='repassword1' id='repassword1'>";
     output+=" <P>";
     output+=" <input type='submit' name='joins' id='joins' value='완료' class='logBt'>";
     output+="</form>";
     $('#newDiv').html(output);
  });
  $('#login').click(function(e) {
     document.form1.action ='/gStreet';
     document.form1.submit;
  });

  $('#joins').click(function(e) {
     document.form2.action ='/joins';
     document.form2.submit;
  });

  $('#shBt').click(function(e) {
     var searchText = $('#search').val();
     location.href='/search/' + searchText;
  });
  $('#search').click(function(e) {
     $('#search').val('');
  });
  
  var getTime = function(){
     var now = new Date();
     var year = now.getFullYear();
     var month = now.getMonth()+1;
     var dd = now.getDate();
     var hours = now.getHours();
     var mins = now.getMinutes();

     $('#left_5').html(year+'.'+month+'.'+dd+'-'+hours+'.'+mins+'기준');
   };
  });