link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css')
script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.0.min.js')
script(type='text/javascript', src='http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js')
script(type='text/javascript') 
  $(document).ready(function() {
     $('#search').click(function(e) {
        $('#search').val('');
     });
  });
<meta name="viewport", content="width-device-width, intial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi"/>
div(data-role="page")
   div(data-role="header", style='background:#fff')
      img(src='images/Button_Mstreet_Black.jpg', id='mStreet', value='mStreet', style='width:75px; height: 50px; margin-left:15px; margin-top:10px;')
      img(src='images/Button_Cstreet_Black.jpg', id='cStreet', value='cStreet' , style='width:75px; height: 50px; margin-left:5px; margin-top:10px;')
      img(src='images/Button_Sstreet_Black.jpg', id='sStreet', value='sStreet' , style='width:75px; height: 50px; margin-left:5px; margin-top:10px;')
      img(src='images/Button_Gstreet_Black.jpg', id='gStreet', value='gStreet' , style='width:75px; height: 50px; margin-left:5px; margin-top:10px;')
      hr
      input(type='text', class='mtxtbox', id='search', value='검색어를 입력하세요',style='float:left; width:250px; margin-left:5px; margin-bottom:10px;')
      img(src='/images/Button_Search.jpg', id='shBt', value='검색', style='float:left; width:56px; height:43px; margin-left:5px;')
   div(data-role="content")
        
        
   div(data-role="footer")
      h2 footer      