#box 
 div#top
   #top_1
      input(type='button',class='menuBt', id='LOGO', value='Street', style='width:200px; margin-left:390px;')p
      input(type='button',class='menuBt', id='mStreet', value='mStreet', style='width:170px; margin-left:45px; margin-top:1px;')
      input(type='button',class='menuBt', id='cStreet', value='cStreet', style='width:170px;')
      input(type='button',class='menuBt', id='sStreet', value='sStreet', style='width:170px;')
      input(type='button',class='menuBt', id='gStreet', value='gStreet', style='width:170px; margin-right:60px;')
   #top_2
     span#roomName= roomName 
     input#ready(type='button', value='준비')
     input#leave(type='button', value='나가기')
     input#game(type='button', value='게임 시작')
     input#gameset(type='button', value='게임 정보 세팅')
     #cnt
 #main
   
   #j_main_1
     #g_main_1_1
        #videoDiv
        #resultWindow((style= 'width:350px; height:50px; overflow:auto; border:2px solid #FC0; margin-bottom:10px; margin-right:10px;')
        p 힌트창
        #hintWindow(style='width:575px; height:130px; overflow:auto; border:1px solid #000; float:left; margin-left:10px; margin-right:10px;')
     #g_main_1_2
        p 채팅창
        #chatWindow(style='width:575px; height:180px; overflow:auto; border:1px solid #000; float:left; margin-left:10px; margin-right:10px;')
        span#myName #{nickname}님:
        input(type='text', style='width:450px; margin-left:10px; margin-top:10px;')#message
        input(type='Button', id='chatButton', value='보내기', style='width:60px; height:25px;')
        
   #j_main_2
     p 참여자 목록
     #attentsList(style='width:155px; height:130px; overflow:auto; margin-left:5px; border:1px solid #000;')
        ul#attendants
          each attendant in attendants
            li(id='attendant-'+attendant)= attendant 
     input(type='button',class='menuBt', id='gStreet', value='친구 추가', style='width:170px; margin-left:5px; margin-top:35px;')
     input(type='button',class='menuBt', id='gStreet', value='친구 초대', style='width:170px; margin-left:5px; margin-top:5px;')
     input(type='button',class='menuBt', id='gStreet', value='노래 담기', style='width:170px; margin-left:5px; margin-top:5px;')
     input(type='button',class='menuBt', id='gStreet', value='게임 끝내기', style='width:170px; margin-left:5px; margin-top:5px;')

     

script(type='text/javascript', src='http://www.google.com/jsapi?key=ABQIAAAAdV0OihhLfo4ru8N1BXzlWxSJ87f2VNqmObhB7kj4DJwDOGkiiBR3Nh79Pxxmk0DgEb3TTwZHI-Fp1g')
script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.0.min.js')
script(type='text/javascript', src='/javascripts/jquery-ui-1.8.18.custom.min.js')
script(type='text/javascript', src = 'http://www.google.com/jsapi')
script(type='text/javascript')
  google.load("swfobject", "2.1");
script(type='text/javascript')
   
   var onPlayerError = function(errorCode) { alert("An error occured of type:" + errorCode);
      };

      var onYouTubePlayerReady = function(playerId) {
            ytplayer = document.getElementById("ytPlayer");
            ytplayer.addEventListener("onError", "onPlayerError");
      };

      var loadPlayer = function() {
            alert('a');
            var videoID = "ylLzyHk54Z0"
            var params = { allowScriptAccess: "always" };
            var atts = { id: "ytPlayer" };

            swfobject.embedSWF("http://www.youtube.com/v/" + videoID+ "&enablejsapi=1&playerapiid=ytplayer", "videoDiv", "100","100", "8", false, false, { allowScriptAccess: 'always', allowfullscreen: 'true' }, atts);
        };

      var reloadPlayer = function(s) {
          var videoID = s
            swfobject.embedSWF("http://www.youtube.com/v/" + videoID + "&autoplay=1??version=3&enablejsapi=1&playerapiid=ytplayer&fs=1", 'ytPlayer', '0', '0', '9.0.0', false, false, { allowScriptAccess: 'always', allowfullscreen: 'true' });};
     
      var playVideo = function() {
            if (ytplayer) {
                ytplayer.playVideo();
            } 
        };

  script(type='text/javascript')
    $(document).ready(function() {
      loadPlayer();
     
     
      var room = io.connect('/room'); 
      var chatWindow = $('#chatWindow');
      var hintWindow = $('#hintWindow');
      var countWindow = $('#countWindow');
      var messageBox = $('#message');
      var myName = $('#myName').text();
      var attendants = $('#attendants');
      var resultWindow = $('#resultWindow');
      var wjatn = 0;
    
      var showMessage = function(msg) {
      var pos = $("#chatWindow").position().top;
        chatWindow.append($('<p>').text(msg)).animate({ scrollTop: pos }, 'slow');   
        chatWindow.scrollTop(chatWindow.height());

      };

      var resultMessage = function(msg) {
      var sos = $("#resultWindow").position().top;
         resultWindow.append($('<p>').text(msg)).animate({ scrollTop: sos }, 'slow');   
       };

       var countMessage = function(msg) {
       var ros = $("#countWindow").position().top;
         countWindow.append($('<p>').text(msg)).animate({ scrollTop: ros }, 'slow');   
       };
       var hintMessage = function(msg) {
       var hos = $("#countWindow").position().top;
       hintWindow.append($('<p>').text(msg)).animate({ scrollTop: hos }, 'slow');   
       };

      room.on('connect', function() {
        room.emit('join', {roomName:$('#roomName').text(), nickName:myName}); 
      });

      room.on('joined', function(data) {
        if(data.isSuccess) {
          showMessage(data.nickName + '님이 입장하셨습니다.');
          attendants.append($('<li>')
            .attr('id', 'attendant-'+data.nickName)
            .text(data.nickName)); 
        }
      });

      room.on('message', function(data) {
        showMessage(data.nickName + ' : ' + data.msg); 
      });

      room.on('leaved', function(data) {
        showMessage(data.nickName + '님이 나가셨습니다.');
        $('#attendant-'+data.nickName).remove();
      });

      $('form').submit(function(e) {
        e.preventDefault();
        var msg = messageBox.val();
        if ($.trim(msg) !== '') {
          showMessage(myName + ' : ' + msg);
          room.json.send({nickName:myName, msg:msg});
          messageBox.val('');
        }if ($.trim(msg) === a ) { wjatn++; room.emit('ready',{nickName:myName, usrScore:wjatn} ); }
      });

      room.on('gamed', function(data) {
      a = data.msCnt; alert(a);
        playVideo(); 
      });
       $('#ready').click(function(e) {
        room.emit('ready',{nickName:myName, usrScore:wjatn} );
      });

      room.on('readied', function(data) {
         resultWindow.val('');
         resultMessage(data.usName+'님은'+data.usScore+'점이당');
         a = data.msName; if(data.msCnt === 5) {  alert('끝');  }  
         hintMessage(data.msHint + ' 힌트입니다.');  countMessage(data.msCnt+'곡');
         reloadPlayer(data.msId);
      });

      $('#game').click(function(e) {
        room.emit('game', {nickName:myName});
      });

     $('h1').click(function(e) {
        $(this).hide('slow');
      });

      $('#gameset').click(function(e) {
         hintMessage(b);
      });
      $('#leave').click(function(e) {
        room.emit('leave', {nickName:myName});
        location.href='/enter';
      });});