#box 
 div#top
   #top_1
      input(type='button',class='menuBt', id='LOGO', value='Street', style='width:200px; margin-left:390px;')p
      input(type='button',class='menuBt', id='mStreet', value='mStreet', style='width:170px; margin-left:45px; margin-top:1px;')
      input(type='button',class='menuBt', id='cStreet', value='cStreet', style='width:170px;')
      input(type='button',class='menuBt', id='sStreet', value='sStreet', style='width:170px;')
      input(type='button',class='menuBt', id='gStreet', value='gStreet', style='width:170px; margin-right:60px;')
   #top_2
     span#roomName= roomName 
 #main
   
   #j_main_1
     #g_main_1_1
        p 힌트창
        #hintWindow(style='width:575px; height:50px; overflow:auto; border:1px solid #000; float:left; margin-left:10px; margin-right:10px;')
     #g_main_1_2
        p 채팅창
        #chatWindow(style='width:575px; height:180px; overflow:auto; border:1px solid #000; float:left; margin-left:10px; margin-right:10px;')
        span#myName #{nickname}
        form
           input(type='text', style='width:450px; margin-left:10px; margin-top:10px;')#message
           input(type='Button', id='chatButton', value='보내기', style='width:60px; height:25px;')
        
   #j_main_2
     p 참여자 목록
     #attentsList(style='width:155px; height:130px; overflow:auto; margin-left:5px; border:1px solid #000;')
        ul#attendants
          each attendant in attendants
            li(id='attendant-'+attendant)= attendant 
     input(type='button',class='menuBt2', id='game', value='노래 시작', style='height:40px; width:150px; margin-left:5px; margin-top:35px;')
     input(type='button',class='menuBt3', id='leave', value='게임 끝내기', style='height:40px; width:150px; margin-left:5px; margin-top:5px;')
   #videoDiv
     

script(type='text/javascript', src='http://www.google.com/jsapi?key=ABQIAAAAdV0OihhLfo4ru8N1BXzlWxSJ87f2VNqmObhB7kj4DJwDOGkiiBR3Nh79Pxxmk0DgEb3TTwZHI-Fp1g')
script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.0.min.js')
script(type='text/javascript', src='/javascripts/jquery-ui-1.8.18.custom.min.js')
script(type='text/javascript', src = 'http://www.google.com/jsapi')
script(type='text/javascript')
  google.load("swfobject", "2.1");
script(type='text/javascript')
   
   var onPlayerError = function(errorCode) { 
      alert("An error occured of type:" + errorCode);
   };

   var onYouTubePlayerReady = function(playerId) {
      ytplayer = document.getElementById("ytPlayer");
      ytplayer.addEventListener("onError", "onPlayerError");
   };

   var loadPlayer = function() {
      var videoID = "ylLzyHk54Z0"
      var params = { allowScriptAccess: "always" };
      var atts = { id: "ytPlayer" };

      swfobject.embedSWF("http://www.youtube.com/v/" + videoID+ "&enablejsapi=1&playerapiid=ytplayer", "videoDiv", "0","0", "8", false, false, { allowScriptAccess: 'always'}, atts);
   };

   var reloadPlayer = function(s) {
      var videoID = s;
      swfobject.embedSWF("http://www.youtube.com/v/" + videoID + "&autoplay=1??version=`3&enablejsapi=1&playerapiid=ytplayer&fs=1", 'ytPlayer', '220', '220', '9.0.0', false, false, { allowScriptAccess: 'always'});};
     
   var playVideo = function() {
      if (ytplayer) {
             ytplayer.playVideo();
      } 
    };

  script(type='text/javascript')
    $(document).ready(function() {
      loadPlayer();
    
      var room = io.connect('/room'); 
      var chatWindow = $('#chatWindow');
      var hintWindow = $('#hintWindow');
      var countWindow = $('#countWindow');
      var messageBox = $('#message');
      var myName = $('#myName').text();
      var attendants = $('#attendants');
      var resultWindow = $('#resultWindow');
      var result = 0;
      var name = '';
    
      var showMessage = function(msg) {
        var pos = $("#chatWindow").position().top;
        chatWindow.append($('<p>').text(msg)).animate({ scrollTop: pos }, 'slow');   
        chatWindow.scrollTop(chatWindow.height());

      };
      var resultMessage = function(msg) {
         var sos = $("#resultWindow").position().top;
         resultWindow.append($('<p>').text(msg)).animate({ scrollTop: sos }, 'slow');   
       };

       var countMessage = function(msg) {
         var ros = $("#countWindow").position().top;
         countWindow.append($('<p>').text(msg)).animate({ scrollTop: ros }, 'slow');   
       };
       var hintMessage = function(msg) {
         var hos = $("#hintWindow").position().top;
         hintWindow.append($('<p>').text(msg)).animate({ scrollTop: hos }, 'slow');   
       };
      room.on('connect', function() {
         room.emit('join', {roomName:$('#roomName').text(), nickName:myName}); 
      });

      room.on('joined', function(data) {
        if(data.isSuccess) {
          showMessage(data.nickname + '님이 입장하셨습니다.');
          attendants.append($('<li>')
            .attr('id', 'attendant-'+data.nickname)
            .text(data.nickname)); 
        }
      });

      room.on('message', function(data) {
        showMessage(data.nickName + ' : ' + data.msg); 
      });

      room.on('leaved', function(data) {
        showMessage(data.nickName + '님이 나가셨습니다.');
        $('#attendant-'+data.nickName).remove();
      });

      $('form').submit(function(e) {
        e.preventDefault();
        var msg = messageBox.val();
        if ($.trim(msg) !== '') {
          showMessage(myName + ' : ' + msg);
          room.json.send({nickName:myName, msg:msg});
          messageBox.val('');
        }
      });


      room.on('gamed', function(data) {
        name = data.msName;
        hintMessage(data.msHint + ' 힌트입니다.');
        reloadPlayer(data.msId);
      });

      room.on('readied', function(data) {
         resultWindow.val('');
         resultMessage(data.usName+'님은'+data.usScore+'점이당');
         a = data.msName; if(data.msCnt === 5) {  alert('끝');  }  
         hintMessage(data.msHint + ' 힌트입니다.');  
         
      });

      $('#game').click(function(e) {
        room.emit('game', {nickName:myName, result:result});
      });

      $('#leave').click(function(e) {
        room.emit('leave', {nickName:myName});
        location.href='/enter';
      });});