script(type='text/javascript', src='/javascripts/daum.js')
#m_box
 #m_main_1
   span(style='display:none;')#searchName= searchName 
   img(id='LOGO', style='float:left',src='/images/logo.png')
   img(style='margin-left:200px; float:left', src='/images/Text_Webmaster.jpg')
   #top_1
     #top_1_1
       <fb:profile-pic uid="loggedinuser" size="square"></fb:profile-pic>
       <fb:name uid="loggedinuser" use-you="no"></fb:name>
     #top_1_2
       <fb:login-button autologoutlink="true"></fb:login-button><p>
       <button class="menuBt2" onclick="dial()" style='width:80px; height:30px;'>글쓰기</button>
 #m_main_2
 #m_main_3
  #i_mian_2_1(style='margin-left:40px; height:70px; width: 800px;')
     img(class='menuBt',src='/images/Text_main.png', id='info', style='width:150px; height:60px;')
     img(class='menuBt',src='/images/Button_Home_Black.jpg', id='home', value='Home', style='width:80px; height:40px; margin-left:180px;')
     img(class='menuBt',src='/images/Button_Mstreet_Black.jpg', id='mStreet', value='mStreet', style='width:80px; margin-left:10px; height:40px;')
     img(class='menuBt',src='/images/Button_Cstreet_Black.jpg', id='cStreet', value='cStreet', style='width:80px; margin-left:10px; height:40px;')
     img(class='menuBt',src='/images/Button_Sstreet_Black.jpg', id='sStreet', value='sStreet', style='width:80px; margin-left:10px; height:40px;')
     img(class='menuBt',src='/images/Button_Gstreet_Black.jpg', id='gStreet', value='gStreet', style='width:80px; margin-left:10px; height:40px;')
 #s_main_4
     #s_main_6_1(style='width:150px;')
     #s_main_6_2(style='margin-rgith:20px;')
      img(src='/images/Text_SearchResult.jpg', style='margin-top:10px;')
      hr
      img(src='/images/Text_SearchMenu_Total_Black_.jpg', class='font2', id='searchAllBt') 통합 검색
      img(src='/images/Text_SearchMenu_Web_Black.jpg', class='font2', id='searchWebBt') 웹 검색
      img(src='/images/Text_SearchMenu_Blog_Black.jpg', class='font2', id='searchBlogBt') 블로그 검색
      img(src='/images/Text_SearchMenu_Cafe_Black.jpg', class='font2', id='searchCafeBt') 카페 검색
      img(src='/images/Text_SearchMenu_Jisik_Black.jpg', class='font2', id='searchKnowledgeBt') 지식인 검색
      img(src='/images/Text_SearchMenu_Image_Black.jpg', class='font2', id='searchImageBt') 이미지 검색
      img(src='/images/Text_SearchMenu_Video_Black.jpg', class='font2', id='searchVclipBt') 동영상 검색
      img(src='/images/Text_SearchMenu_Board_Black.jpg', class='font2', id='searchBoardBt') 게시판 검색
      hr

 #s_main_5
   #s_main_5_1
      #daumForm                                                        
        input(type='text', class='txtbox', id='daumSearch', onkeydown="javascript:if(event.keyCode == 13) daumSearch.search();", style='float:left; margin-top:20px; margin-left:100px;')
        input(type='submit', class='shBt', id='daumSubmit', onclick="javascript:daumSearch.search()", value='검색', style='float:left; width:60px; margin-top:20px; height:30px; margin-left:20px; margin-right:3px;')
   #s_main_5_2(style='margin-left:20px;')
      div#daumView(style='widht:720px;')
          h3 웹 검색 결과  
             div#daumWeb
          hr
          h3 블로그 검색 결과  
             div#daumBlog
          hr
          h3 카페 검색 결과  
             div#daumCafe 
          hr
          h3 지식 검색 결과  
             div#daumKnowledge
          hr
          h3 이미지 검색 결과  
             div#daumImage  
          hr
          h3 비디오 검색 결과  
             div#daumVclip  
          hr
          h3 게시판 검색 결과 
             div#daumBoard      
      div#daumScript  
      div#daumVclipScript  
      div#daumImageScript  
      div#daumBoardScript  
      div#daumBlogScript  
      div#daumWebScript  
      div#daumKnowledgeScript  
      div#daumCafeScript  
 #s_main_6
  

script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.0.min.js')
script(type='text/javascript') 
  $(document).ready(function() {
    
    $('#searchAllBt').attr('src','/images/Text_SearchMenu_Total_Blue.jpg');

    var searchName = $('#searchName').text();
    $('#daumSearch').val(searchName);

    $('#mStreet').click(function(e) {
      location.href = '/mStreet';
    });
    $('#gStreet').click(function(e) {
      $('#dialog').dialog();
    });
    $('#sStreet').click(function(e) { 
      location.href = '/sStreet';
    });
    $('#cStreet').click(function(e) { 
      location.href = '/cStreet';
    });
    $('#LOGO').click(function(e) {
      location.href = '/';
    });
    $('#home').click(function(e) {
      location.href = '/';
    });
    $('#searchWebBt').click(function(e) {
       $('#daumWeb').html('');
       $('#daumBlog').html('');  
       $('#daumCafe').html('');    
       $('#daumKnowledge').html('');   
       $('#daumImage').html('');  
       $('#daumVclip').html('');  
       $('#daumBoard').html('');

       $('#searchAllBt').attr('src','/images/Text_SearchMenu_Total_Black_.jpg');
       $('#searchWebBt').attr('src','/images/Text_SearchMenu_Web_Blue.jpg');
       $('#searchBlogBt').attr('src','/images/Text_SearchMenu_Blog_Black.jpg');
       $('#searchCafeBt').attr('src','/images/Text_SearchMenu_Cafe_Black.jpg');
       $('#searchKnowledgeBt').attr('src','/images/Text_SearchMenu_Jisik_Black.jpg');
       $('#searchVclipBt').attr('src','/images/Text_SearchMenu_Video_Black.jpg');
       $('#searchImageBt').attr('src','/images/Text_SearchMenu_Image_Black.jpg');
       $('#searchBoardBt').attr('src','/images/Text_SearchMenu_Board_Black.jpg');

       daumSearch.searchWeb();
    });
    $('#searchBlogBt').click(function(e) {
       $('#daumWeb').html('');
       $('#daumBlog').html('');  
       $('#daumCafe').html('');    
       $('#daumKnowledge').html('');   
       $('#daumImage').html('');  
       $('#daumVclip').html('');  
       $('#daumBoard').html('');

       $('#searchAllBt').attr('src','/images/Text_SearchMenu_Total_Black_.jpg');
       $('#searchWebBt').attr('src','/images/Text_SearchMenu_Web_Black.jpg');
       $('#searchBlogBt').attr('src','/images/Text_SearchMenu_Blog_Blue.jpg');
       $('#searchCafeBt').attr('src','/images/Text_SearchMenu_Cafe_Black.jpg');
       $('#searchKnowledgeBt').attr('src','/images/Text_SearchMenu_Jisik_Black.jpg');
       $('#searchVclipBt').attr('src','/images/Text_SearchMenu_Video_Black.jpg');
       $('#searchImageBt').attr('src','/images/Text_SearchMenu_Image_Black.jpg');
       $('#searchBoardBt').attr('src','/images/Text_SearchMenu_Board_Black.jpg');
       daumSearch.searchBlog();
    });
    $('#searchCafeBt').click(function(e) {
       $('#daumWeb').html('');
       $('#daumBlog').html('');  
       $('#daumCafe').html('');    
       $('#daumKnowledge').html('');   
       $('#daumImage').html('');  
       $('#daumVclip').html('');  
       $('#daumBoard').html('');

       $('#searchAllBt').attr('src','/images/Text_SearchMenu_Total_Black_.jpg');
       $('#searchWebBt').attr('src','/images/Text_SearchMenu_Web_Black.jpg');
       $('#searchBlogBt').attr('src','/images/Text_SearchMenu_Blog_Black.jpg');
       $('#searchCafeBt').attr('src','/images/Text_SearchMenu_Cafe_Blue.jpg');
       $('#searchKnowledgeBt').attr('src','/images/Text_SearchMenu_Jisik_Black.jpg');
       $('#searchVclipBt').attr('src','/images/Text_SearchMenu_Video_Black.jpg');
       $('#searchImageBt').attr('src','/images/Text_SearchMenu_Image_Black.jpg');
       $('#searchBoardBt').attr('src','/images/Text_SearchMenu_Board_Black.jpg');
       daumSearch.searchCafe();
    });
    $('#searchKnowledgeBt').click(function(e) {
       $('#daumWeb').html('');
       $('#daumBlog').html('');  
       $('#daumCafe').html('');    
       $('#daumKnowledge').html('');   
       $('#daumImage').html('');  
       $('#daumVclip').html('');  
       $('#daumBoard').html('');

       $('#searchAllBt').attr('src','/images/Text_SearchMenu_Total_Black_.jpg');
       $('#searchWebBt').attr('src','/images/Text_SearchMenu_Web_Black.jpg');
       $('#searchBlogBt').attr('src','/images/Text_SearchMenu_Blog_Black.jpg');
       $('#searchCafeBt').attr('src','/images/Text_SearchMenu_Cafe_Black.jpg');
       $('#searchKnowledgeBt').attr('src','/images/Text_SearchMenu_Jisik_Blue.jpg');
       $('#searchVclipBt').attr('src','/images/Text_SearchMenu_Video_Black.jpg');
       $('#searchImageBt').attr('src','/images/Text_SearchMenu_Image_Black.jpg');
       $('#searchBoardBt').attr('src','/images/Text_SearchMenu_Board_Black.jpg');
       daumSearch.searchKnowledge();
    });
    $('#searchImageBt').click(function(e) {
       $('#daumWeb').html('');
       $('#daumBlog').html('');  
       $('#daumCafe').html('');    
       $('#daumKnowledge').html('');   
       $('#daumImage').html('');  
       $('#daumVclip').html('');  
       $('#daumBoard').html('');


       $('#searchAllBt').attr('src','/images/Text_SearchMenu_Total_Black_.jpg');
       $('#searchWebBt').attr('src','/images/Text_SearchMenu_Web_Black.jpg');
       $('#searchBlogBt').attr('src','/images/Text_SearchMenu_Blog_Black.jpg');
       $('#searchCafeBt').attr('src','/images/Text_SearchMenu_Cafe_Black.jpg');
       $('#searchKnowledgeBt').attr('src','/images/Text_SearchMenu_Jisik_Black.jpg');
       $('#searchVclipBt').attr('src','/images/Text_SearchMenu_Video_Black.jpg');
       $('#searchImageBt').attr('src','/images/Text_SearchMenu_Image_Blue.jpg');
       $('#searchBoardBt').attr('src','/images/Text_SearchMenu_Board_Black.jpg');
       daumSearch.searchImage();
    });
    $('#searchVclipBt').click(function(e) {
       $('#daumWeb').html('');
       $('#daumBlog').html('');  
       $('#daumCafe').html('');    
       $('#daumKnowledge').html('');   
       $('#daumImage').html('');  
       $('#daumVclip').html('');  
       $('#daumBoard').html('');

       $('#searchAllBt').attr('src','/images/Text_SearchMenu_Total_Black_.jpg');
       $('#searchWebBt').attr('src','/images/Text_SearchMenu_Web_Black.jpg');
       $('#searchBlogBt').attr('src','/images/Text_SearchMenu_Blog_Black.jpg');
       $('#searchCafeBt').attr('src','/images/Text_SearchMenu_Cafe_Black.jpg');
       $('#searchKnowledgeBt').attr('src','/images/Text_SearchMenu_Jisik_Black.jpg');
       $('#searchVclipBt').attr('src','/images/Text_SearchMenu_Video_Blue.jpg');
       $('#searchImageBt').attr('src','/images/Text_SearchMenu_Image_Black.jpg');
       $('#searchBoardBt').attr('src','/images/Text_SearchMenu_Board_Black.jpg');
       daumSearch.searchVclip();
    });
    $('#searchBoardBt').click(function(e) {
       $('#daumWeb').html('');
       $('#daumBlog').html('');  
       $('#daumCafe').html('');    
       $('#daumKnowledge').html('');   
       $('#daumImage').html('');  
       $('#daumVclip').html('');  
       $('#daumBoard').html('');
       
       $('#searchAllBt').attr('src','/images/Text_SearchMenu_Total_Black_.jpg');
       $('#searchWebBt').attr('src','/images/Text_SearchMenu_Web_Black.jpg');
       $('#searchBlogBt').attr('src','/images/Text_SearchMenu_Blog_Black.jpg');
       $('#searchCafeBt').attr('src','/images/Text_SearchMenu_Cafe_Black.jpg');
       $('#searchKnowledgeBt').attr('src','/images/Text_SearchMenu_Jisik_Black.jpg');
       $('#searchVclipBt').attr('src','/images/Text_SearchMenu_Video_Black.jpg');
       $('#searchImageBt').attr('src','/images/Text_SearchMenu_Image_Black.jpg');
       $('#searchBoardBt').attr('src','/images/Text_SearchMenu_Board_Blue.jpg');
       
       daumSearch.searchBoard();
    });
    $('#searchAllBt').click(function(e) {
       $('#searchAllBt').attr('src','/images/Text_SearchMenu_Total_Blue.jpg');
       $('#searchWebBt').attr('src','/images/Text_SearchMenu_Web_Black.jpg');
       $('#searchBlogBt').attr('src','/images/Text_SearchMenu_Blog_Black.jpg');
       $('#searchCafeBt').attr('src','/images/Text_SearchMenu_Cafe_Black.jpg');
       $('#searchKnowledgeBt').attr('src','/images/Text_SearchMenu_Jisik_Black.jpg');
       $('#searchVclipBt').attr('src','/images/Text_SearchMenu_Video_Black.jpg');
       $('#searchImageBt').attr('src','/images/Text_SearchMenu_Image_Black.jpg');
       $('#searchBoardBt').attr('src','/images/Text_SearchMenu_Board_Black.jpg');
       daumSearch.search();
    });

  });