/*body {
  padding: 50px;
  background: #ffffff
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  SCROLLBAR-FACE-COLOR: #ffffff; 
  SCROLLBAR-HIGHLIGHT-COLOR: #3874c8; 
  SCROLLBAR-SHADOW-COLOR: #3874c8; 
  SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
  SCROLLBAR-ARROW-COLOR: #3874c8;
  SCROLLBAR-TRACK-COLOR: #ffffff; 
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff ;
}*/
.videos2{
	background-color: #f5f5f5;
	font:12px 굴림;
}
.videos1{
	background-color: #ffffff;
	font:12px 굴림;
}
.searchBt{
border:5x solid #000000; 
	font: 18px 굴림;
	color:#ffffff;
	height:30px;
	width:50px;
 border-radius:4px;/* 8픽셀정도의 모서리 둥글기효과 */
 background-color: #ff5c00;/* 흰색 배경을 투명도 10%로 깔기 */

}
.faceBt{
border:5x solid #000000; 
	font: 18px 굴림;
	color:#ffffff;

 border-radius:4px;/* 8픽셀정도의 모서리 둥글기효과 */

 background-color: #ff5c00;/* 흰색 배경을 투명도 10%로 깔기 */

}
.logBt{
border:5x solid #000000; 
	font: 14px 굴림;
	color:#ffffff;

 border-radius:4px;/* 8픽셀정도의 모서리 둥글기효과 */
 background-color: #8ae634;/* 흰색 배경을 투명도 10%로 깔기 */

}
.container-1{
  background-color: #ff5c00;
}
.menuBt1{
	height: 40px;
	width:  73px;
	font: 15px;
	border-radius:4px;
	color:#ffffff;
	background-color: #b4e5ff;
}
.menuBt2{
	height: 40px;
	width:  73px;
	font: 15px;
	border-radius:4px;
	color:#ffffff;
	background-color: #09C;
}
.menuBt3{
	height: 30px;
	width:  50px;
	font: 8px;
	border-radius:4px;
	color:#ffffff;
	background-color: #ff6347;
}
.menuBt{
	height: 45px;
	width:  60px;
	font: 15px bold;
	border-radius:4px;
	color:#ff5c00;
	background-color: #b4e5ff;
}
body {
            margin: 0px;
            font-size: 14px;
            color: #FFF;   
        }
#box {
            position: relative;
            height: auto;
            width: 1000px;
            margin: auto; 
			margin-top:30px;
            background-color: #000;
}
#top {
           background-color: #fff;
           height: 150px;
           width: 1000px;
           position: relative;          
        }
#left {
           background-color: #fff;
           float: left;
           height: 400px;
           width: 200px;
           position: relative;
        }
#left_1 {
		   font-size: 12px;
		   color: #000000;   
           position: relative;
}
#left_3 {
		   font-size: 11px;
		   color: #000000;   
           position: relative;
        }
#left_5 {
		   font-size: 12px;
		   color: #000000;   
           position: relative;
        }
#main {
           background-color: #fff;
           float: left;
           height: 220px;
           width: 1000px;
           position: relative;          
        }
#bottom {
		   background-color: #fff;
           height: 100px;
           width: 1000px;
           position: relative;
           clear: both;
}
#bottom_1 {
           position: relative;
		   float: left;
}
#bottom_2 {
           position: relative;
		   float: left;
		  
}
#top_1{
		   position: relative;
		   float: left;
}
#top_2 {
           position: relative;
		   margin-left: 65px;
		   float: left;
}
#main_1 {
		   background-color: #fff;
           position: relative;
		   height: 220px;
		   font-size: 13px;
           width: 320px;
		   margin-left: 50px;
		   float: left;
}
#main_2 {
           background-color: #fff;
           position: relative;
		   height: 220px;
           width: 300px;
		   font-size: 13px;
		   float: left;
}
#main_3 {
           background-color: #fff;
           position: relative;
		   height: 220px;
           width: 200px;
		   margin-left:30px;
		   float: left;		  
}
#g_main_1 {
           background-color: #f00;
           position: relative;
		   height: 450px;
           width: 700px;
		   float: left;		  
}
#g_main_2 {
           background-color: #0f0;
           position: relative;
		   height: 450px;
           width: 270px;
		   margin-left:30px;
		   float: left;	  
}
#j_main_1 {
           background-color: #f00;
           position: relative;
		   height: 450px;
           width: 600px;
		   float: left;		  
}
#j_main_2 {
           background-color: #0f0;
           position: relative;
		   height: 450px;
           width: 170px;
		   margin-left:30px;
		   float: left;	  
}
#bottom_3 {
           position: relative;
		   float: left;
}