body {
 scrollbar-face-color:#2B0003;
 scrollbar-track-color:#ffffff;
 scrollbar-arrow-color:#ffffff;
 scrollbar-highlight-color:#FF0099
 scrollbar-3dlight-color:#ffffff
 scrollbar-shadow-color:#FF0099
 scrollbar-darkshadow-color:#00CC66
 }

.infiniteCarousel {
  width: 800px;
  height: 350px;
  position: relative;
}

.infiniteCarousel .wrapper {
  width: 740px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  height: 350px;
  overflow: auto;
  left: 30px;
  background-color: #685e5e;
  position: absolute;
}

.infiniteCarousel ul a img {
  border: 5px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  margin-top: 20px;
  padding: 5px;
  height: 300px;
  width: 180px;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 350px;
  width: 30px;
  text-indent: -999px;
  position: absolute;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-color: #00ff21;
  background: url('http://localhost:8001/images/right.jpg') no-repeat 0 0;
  right: 0;
}

.infiniteCarousel .back {
  background-color:#ff6a00;
  background: url('http://localhost:8001/images//left.jpg') no-repeat 0 0;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -3px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -3px;
}

.videos2{
	background-color: #f5f5f5;
    overflow: auto;
	font:12px 굴림;
}
.videos1{
	background-color: #ffffff;
	font:12px 굴림;
}
.searchBt{
border:5x solid #000000; 
	font: 18px 굴림;
	color:#ffffff;
	height:30px;
	width:50px;
 border-radius:4px;/* 8픽셀정도의 모서리 둥글기효과 */
 background-color: #ff5c00;/* 흰색 배경을 투명도 10%로 깔기 */

}
.faceBt{
	border:5x solid #000000; 
	font: 18px 굴림;
	color:#ffffff;
	border-radius:4px;/* 8픽셀정도의 모서리 둥글기효과 */
	background-color: #ff5c00;/* 흰색 배경을 투명도 10%로 깔기 */
}
.elbemBt{
	left: 30px;
	border:5x solid #000000; 
	font: 18px 굴림;
	color:#ffffff;
	border-radius:4px;/* 8픽셀정도의 모서리 둥글기효과 */
	background-color: #ff5c00;/* 흰색 배경을 투명도 10%로 깔기 */
}
.logBt{
border:5x solid #000000; 
	font: 14px 굴림;
	color:#ffffff;

 border-radius:4px;/* 8픽셀정도의 모서리 둥글기효과 */
 background-color: #8ae634;/* 흰색 배경을 투명도 10%로 깔기 */

}
.container-1{
  background-color: #ff5c00;
}
.grid_4{width:130px; height:100px; display:inline; float:left ;color:#fff;background-color:#ff6000} 

.menuBt1{
	height: 40px;
	width:  73px;
	font: 15px;
	border-radius:4px;
	color:#ffffff;
	background-color: #b4e5ff;
}
.menuBt2{
	height: 40px;
	width:  173px;
	font: 15px;
	border-radius:4px;
	color:#ffffff;
	background-color: #09C;
}
.menuBt3{
	height: 40px;
	width:  50px;
	font: 12px;
	border-radius:4px;
	color:#FFFFFF;
	background-color: #FF0000;
}

.likeBt{
    position: relative;
	margin: auto;
	height: 20px;
	width:  45px;
	font: 13px bold;
	color:#ffffff;
	background-color: #80E12A;
}
#e_left_1_1{
	font: 18px bold;
}
#e_left_1_2{
	font: 18px bold;
}
.e_font{
	margin: auto;
	font: 35px bold;
	color:#ffffff;
	background-color: #80E12A;
}
body {
            margin: 0px;
            font-size: 14px;
            color: #000;   
        }
#box {
            position: relative;
            height: auto;
            width: 1000px;
            margin: auto; 
			margin-top:30px;
            background-color: #000;
}
.titlecs {
			height: 150px;
			width: 150px;
			font: 15px bold;
			color:#ffffff;
}
#m_box {
            position: relative;
            height: auto;
            width: 1100px;
            margin: auto; 
			margin-top:30px;
            background-color: #000;
}
#e_left {
           background-color: #ffa;
           float: left;
           height: 1000px;
           width: 210px;
		   margin-left: 80px;
		   margin-top: 50px;
           position: relative;
}
#e_left_top {
           background-color: #2fa;
           height: 50px;
           width: 210px;
           position: relative;
}
#e_left_1 {
           background-color: #afa;
           height: 250px;
           width: 210px;
           position: relative;
}
#e_main {
           background-color: #fa0;
           float: left;
		   margin-top: 50px;
           height: 1000px;
           width: 800px;
           position: relative;
}
#e_main_1 {
           background-color: #000;
           height: 350px;
           width: 800px;
           position: relative;
}
#e_main_1_1 {
           background-color: #ba2;
		   float: left;
		   margin-left:100px;
		   margin-top:10px;
           height: 330px;
           width: 580px;
           position: relative;
}
#e_main_1_2 {
           background-color: #000;
		   float: left;
           height: 330px;
           width: 120px;
           position: relative;
}
#e_main_2 {
           background-color: #fb0;
           height: 350px;
           width: 800px;
		   overflow: auto;
           position: relative;
}
#e_main_3 {
           background-color: #f60;
           height: 300px;
           width: 800px;
           position: relative;
}
#e_right {
           background-color: #af0;
           float: left;
		   margin-top: 50px;
           height: 1000px;
           width: 150px;
           position: relative;
}

#top {
           background-color: #f0f;
           height: 150px;
           width: 1000px;
           position: relative;          
        }
#m_top {
           background-color: #f0f;
           height: 120px;
           width: 1100px;
           position: relative;          
        }
#left {
           background-color: #ff0;
           float: left;
           height: 400px;
           width: 200px;
           position: relative;
        }
#m_left {
           background-color: #ff0;
           float: left;
           height: 900px;
           width: 200px;
           position: relative;
}
#m_right {
           background-color: #ffffff;
           float: left;
           height:900px;
           width: 210px;
		   margin-left:20px;
           position: relative;
}
#m_right2 {
           background-color: #fa1;
           float: left;
           height: 1020px;
           width: 130px;
           position: relative;
}
#left_1 {
		   font-size: 12px;
		   color: #000000;   
           position: relative;
}
#left_5 {
		   font-size: 12px;
		   color: #000000;   
           position: relative;
        }
#main {
           background-color: #0ff;
           float: left;
           height: 220px;
           width: 1000px;
           position: relative;          
        }
#m_main {
           background-color: #EBEBEB;
           float: left;
           height: 900px;
           width: 700px;
           position: relative;          
        }
#bottom {
		   background-color: #00f;
           height: 100px;
           width: 1000px;
           position: relative;
           clear: both;
}
#m_right_1 {
		background-color: #ffffff;
		height: 40px;
        width: 210px;
		margin-top:5px;
		margin-bottom:5px;
		position: relative;
}
.eTxt{
		background-color: #EBEBEB;
}
#m_right_2 {
		background-color: #EBEBEB;
		font-size: 13 px;
		height: 920px;
        width: 210px;
		overflow: auto;
		position: relative;
}
#m_bottom {
		   background-color: #00f;
           height: 100px;
           width: 1000px;
           position: relative;
           clear: both;
}
#bottom_1 {
           position: relative;
		   float: left;
}
#bottom_2 {
           position: relative;
		   float: left;
		  
}
#top_1{
		   position: relative;
		   float: left;
}
#main_1 {
		   background-color: #fff;
           position: relative;
		   height: 220px;
		   font-size: 13px;
           width: 320px;
		   margin-left: 50px;
		   float: left;
}
#main_2 {
           background-color: #fff;
           position: relative;
		   height: 220px;
           width: 300px;
		   font-size: 13px;
		   float: left;
}
#main_3 {
           background-color: #fff;
           position: relative;
		   height: 220px;
           width: 200px;
		   margin-left:30px;
		   float: left;		  
}
#g_main_1 {
           background-color: #fff;
           position: relative;
		   height: 450px;
           width: 700px;
		   float: left;		  
}
#g_main_2 {
           background-color: #fff;
           position: relative;
		   height: 450px;
           width: 270px;
		   margin-left:30px;
		   float: left;	  
}
#j_main_1 {
           background-color: #f00;
           position: relative;
		   height: 450px;
           width: 600px;
		   float: left;		  
}
#j_main_2 {
           background-color: #0f0;
           position: relative;
		   height: 450px;
           width: 170px;
		   margin-left:30px;
		   float: left;	  
}
#bottom_3 {
           position: relative;
		   float: left;
}

#panel {
    overflow: auto;
	background: #fff;
	margin-left:100px;
	width: 400px;
	height: 170px;
	border: 2px solid #000;
	display: none;
}
#panel_1 {
	background: #ff0000;
	width: 380px;
	height: 20px;
}
#panel_2 {
	background: #fff;
	width: 380px;
	height: 150px;
}
.slide {
    margin-left:100px;
    width: 400px;
	margin: 0;
	padding: 0;
	background: url('http://localhost:8001/images/slide.jpg') no-repeat center top;
}
.btn-slide {
	background: url('http://localhost:8001/images/slide.jpg') no-repeat right -50px;
	text-align: center;
	margin-left:100px;
	width: 144px;
	height: 31px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}
.active {
	background-position: right 12px;
}

/* 인덱스 부분에 대한 css */
#i_main_1{
           margin-top: 10px;
           background-color: #ffffff;
           position: relative;
		   height: 67px;
}
#i_main_2{
		   background-color: #2b0003;
           position: relative;
		   height: 40px;
}
#i_main_3{
		   background-color: #2b0003;
           position: relative;
		   height: 80px;
}
#i_main_4{
           background-color: #2b0003;
           position: relative;
		   height: 60px;
}
#i_main_5{
           background-color: #2b0003;
           position: relative;
		   height: 100px;
}
#i_main_6{
           background-color: #2b0003;
           position: relative;
		   height: 50px;
}
#i_main_6_1{
           background-color: #ffffff;
		   float: left;
		   color:#4F81BD;
           position: relative;
		   font: 18px bold;
		   width:320px;
		   height: 50px;
}
#i_main_7{
           background-color: #ffffff;
           position: relative;
		   height: 250px;
}
#i_main_6_2{
           background-color: #ffffff;
           position: relative;
		   font: 18px bold;
		   float: left;
		   color:#4F81BD;
		   width:320px;
		   height: 50px;
}
#i_main_6_3{
           background-color: #ffffff;
           position: relative;
		   font: 18px bold;
		   color:#4F81BD;
		   float: left;
		   width:320px;
		   height: 50px;
}
#i_main_7_1{
           background-color: #ffffff;
		   float: left;
           position: relative;
		   font-size: 13px;
		   width:320px;
		   height: 220px;
}
#i_main_7_2{
           background-color: #ffffff;
		   float: left;
           position: relative;
		   font-size: 13px;
		   width:320px;
		   height: 220px;
}
#i_main_7_3{
           background-color: #ffffff;
		   float: left;
           position: relative;
		   width:320px;
		   height: 220px;
}
#top_1 {  /* 페이스북 버튼 영역 */
           position: relative;
		   float: left;
		   margin-left:750px;
		   background-color: #ffffff;
		   height: 67px;
		   width: 300px;
}
#top_1_1 {  /* 페이스북 버튼 영역 */
           position: relative;
		   float: left;
		   background-color: #ffffff;
		   height: 67px;
		   width: 120px;
}
#top_1_2 {  /* 페이스북 버튼 영역 */
           position: relative;
		   float: left;
		   background-color: #ffffff;
		   height: 67px;
		   width: 150px;
}
#i_mian_2_1 {  /* 페이스북 버튼 영역 */
           position: relative;
		   background-color: #ffffff;
		   height: 100px;
}
/* 인덱스 사용 버튼 */
.menuBt{
	position: relative;
}
.shBt{
    color:#000000;
	font: 18px bold;
	border-radius:6px;
	background-color: #FC9F52;
}
.info{
	height: 45px;
	width:  50px;
	font: 18px bold;
	border-radius:6px;
	color:#ffffff;
	background-color: #ff0000;
}
/*텍스트 박스 디자인 */
.txtbox{
    height: 30px;
    border-radius:2px;
	width:  550px;
	font: 18px bold;
	border: 1px solid #000;
}
/* 실시간 검색어 생기는 영역 */
#left_3 {
		   font-size: 13px;
		   color: #000000;   
           position: relative;
}

/* 검색 화면 전체 레이아웃 구성 CSS 파일 */
#s_main_4{
		   background-color: #ffffff;
		   float:left;
           position: relative;
		   height:1000px;
		   width: 200px;
}
#videoDiv{
		   background-color: #ffffff;
		   float:left;
           position: relative;
		   height:1000px;
		   width: 190px;
		   overflow: auto;
}
#s_main_5{
		   background-color: #ffffff;
           position: relative;
		   float:left;
		   width: 1000px;
}
#s_main_6{
		   background-color: #ffffff;
           position: relative;
		   float:left;
		   height:1000px;
		   width: 150px;
}
#s_main_6_1{
		   background-color: #2b0000;
           position: relative;
		   float:left;
		   height:100px;
		   width: 230px;
}
#s_main_6_2 {
           height:700px;
}
#s_main_5_1{
           background-color: #2b0000;
           position: relative;
		   height: 100px;
}
.font1{
           color: #FC9F52;
		   font:30px 굴림;
}
.font2{
          font:18px 굴림;
}
#s_main_5_2{
           background-color: #ffffff;
           position: relative;
		   height: 100%;
}
/* 비디오 검색 결과 창 */
#daumVclip{
		   font:12px 굴림;
		   background-color: #B6CBE4;
}

#daumKnowledge {
		   font:12px;
		   font:12px 굴림;
		   background-color: #ffffff;
}
#daumWeb   {
		   font:12px;
		   font:12px 굴림;
		   background-color: #ffffff;
}
#daumBlog   {
		   font:12px;
		   font:12px 굴림;
		   background-color: #ffffff;
}
#daumBoard   {
		   font:12px;
		   font:12px 굴림;
		   background-color: #ffffff;
}
#daumImage    {
		   font:12px;
		   font:12px 굴림;
		   background-color: #B6CBE4;
}
#daumCafe {
		   font:12px;
		   font:12px 굴림;
		   background-color: #ffffff;
}